$text-color: rgba(211, 209, 209, 0.842);

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
    color: $text-color;
    max-width: auto 0;
    max-height: auto 0;

    h1 {
        font-size: 3rem;
        margin-bottom: -.5rem;
    }

    h3 {
        font-style: italic;
    }

    .search {
        height: 2.5rem;
        border-radius: .8rem;
        outline: none;
        border: none;
        background-color: rgb(199, 199, 199);
        font-size: 1.5rem;
        padding: .5rem;
        width: 36rem;
        margin-top: 3rem;
        margin-left: 12.5rem;
    }

    .data_wrap {

        visibility: visible;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        width: 62rem;
        background: rgba(0, 0, 0, 0.493);
        backdrop-filter: saturate(180%) blur(10px);
        border-radius: 2rem;
        margin-top: 2rem;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            .container {
              -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px);
            }
          }
        
        
        text-overflow: initial;
        

        img {
            border-radius: 4.5rem;
            padding: 3rem;
            height: auto;
            width: 30rem;
            
        }

        .display_info {
            padding: 5rem;
            margin-right: 2rem;
            
        
            
        }
    }
    
}




.text_hold {
    font-size: 1.3rem;
    color: $text-color;
    text-align: center;
    margin-bottom: 2rem;
    
}