$txt_clr: rgb(237, 235, 238);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.container {
    position: relative;
    top: 11rem;
    margin: 5rem auto;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 59rem;
    width: 27rem;
    height: 25rem;
    color: $txt_clr;

    .title {
        text-align: center;
        font-size: 3rem;
        font-family: Poppins;
    }

    .quill {
        height: 25rem;
    }
}



.btn_hold {

    margin-bottom: 4rem;
    
    .btn {
        font-family: Poppins;
        position: relative;
        left: 50%;
        bottom: 36.5rem;
        
        
        transform: translate(-50%, -50%);
        color: $txt_clr;
        background-color: rgb(65, 10, 65);
        text-decoration: none;
        font-size: 2em;
        display: inline-block;
        padding: 0.5em 2em;
        border: 2px solid #b8a3b6;
        border-radius: .4rem;
        transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            top: 0;
            left: 0;
            right: 100%;
            bottom: 0;
            background: #c389d1;
            transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
            z-index: -1;
        }
        &::after {
            content: "";
            display: inline-block;
            background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
            color: pink;
            position: relative;
            top: 0;
            left: calc(100% - 3em);
            right: 3em;
            bottom: 0;
            background-size: 1.5em;
            background-repeat: no-repeat;
            background-position: center;
            transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
        }
        &:hover {
            padding: 0.5em 3.5em 0.5em 0.5em;
            &::before {
                left: calc(100% - 3em);
                right: 0;
                transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
            }
            &::after {
                right: 0;
                transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
            }
        }
    }
}

@media only screen and (width: 375px) {
    
    .container {
        width: 24rem;
        margin-left: .5rem;
        position: relative;
        top: 8rem;

        .btn_hold {
            
            .btn{
                position: relative;
                top: 40rem;
            }
        }
    }
}