@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {

  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(123deg, rgba(147, 143, 184, 0.877) 17%, rgb(136, 54, 102) 100%);
    font-size: 62.5%;
  }

  
}

a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}
