@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$text-color: rgb(219, 216, 221);

.container {

    font-family: Oxygen;
    align-items: center;    
    justify-content: center;
    margin: auto;
    width: 20rem;
    height: auto 0;
    position: relative;
    color: $text-color;
    
    .title_hold {

        text-align: center;
        font-family: Poppins;
        margin-top: 12rem;

        h1 {
            font-size: 4rem;
            display: inline;
        }

        h2 {
            font-family: Merriweather;
            font-style: italic;
            display: block;
            position: relative;
            bottom: 1.5rem;
        }


    }

    .search {
        display: block;
        margin-top: 1rem;
        border-radius: .4rem;
        outline: none;
        border: none;
        width: 20rem;
        margin-bottom: 1rem;
        height: 2rem;
        font-size: 1.5rem;
        padding: .5rem;
        background-color: rgba(229, 219, 233, 0.582);
        color: rgba(109, 51, 109, 0.801);

        &:focus {
            outline: none;
            border: none;
        }
    }

    .btn_wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }

    .data_wrap {
        
        margin-top: 3rem;
        text-align: center;

        .img_wrap {
            
            img {
                border-radius: .9rem;
            }
        }

        .display_info {
            
            margin-top: 1rem;
            margin-bottom: 9rem;
            align-items: center;
            justify-content: center;
            line-height: 1rem;
            border: rgba(106, 86, 117, 0.39) .2rem solid;
            border-radius: .4rem;

            h2 {
                margin: .5rem;
                padding: .2rem;
            }
        }
    }
}